body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.food-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.2s;
}

.food-item:hover {
    transform: scale(1.05);
}



aside {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
